* {
	padding: 0;
	margin: 0;
}
html,body{
	min-width: 400px;
	font-size: 16px;
}
#wrap{
	position: relative;
	width: 400px;
	margin: 0 auto;
	background-color: #F6F4F4;
}

#head-bar__signal{
	margin: 5px 0;
	margin-left: 3px;
	float:left;
	height: 18px;
}
#head-bar__signal span{
	float: left;
	margin: 5px 1px;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: black;
	box-sizing: content-box;

}
#head-bar__company{
	margin: 3px 0;
	font-size: 17px;
	float:left;
	
}
#head-bar__time{

	width: 56px;
	margin: 0 auto;
	padding: 5px 0;
}
#head-bar__battary{
	margin: 8px 10px;
	float:right;
	left:0;
	width: 20px;
	height: 8px;
	border: 2px solid black;
	border-radius: 3px;
}
#head-bar__battary:before{
	content: " ";
	display: block;
	margin: 1px 1px;
	height: 6px;
	background-color: black;
	border-radius: 2px;
	animation: charge 2s ease-in-out infinite;
	-webkit-animation:charge 2s ease-in-out infinite;/* Safari 和 Chrome */
	-moz-animation: charge 2s ease-in-out infinite;	/* Firefox */
	-o-animation: charge 2s ease-in-out infinite;/* Opera */
}
#head-bar__battary:after{
	content: " ";
	display: block;
	position: relative;
	top: -7px;
	right: -23px;
	width: 2px;
	height: 6px;
	background-color: black;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#title{
	display: block;
	font-size: 1.5rem;
	border-bottom: 1.6px solid #ABAAAA;
}
#title {
	//width: 4em;
	//display: block;
	padding: 10px 0;
	//padding: 20px 10px;
	font-size: 24px;
	text-align: center;
}
#myCanvas{
	margin: 0 50px;
}
#control{
	padding:0 50px; 
}
#lable-box{
	text-align: center;
}
label:nth-child(2){
	margin-left: 15px; 
	line-height: 50px;
}
#reset{
	display: block;
	width: 190px;
	height: 30px;
	margin:10px auto;
	background:linear-gradient(to bottom,#FCFBFB 0%,#C4C4C4 50%,#ECEBEB 100%);
	border:1px solid #CCC;
	border-radius: 10px;

}
#reset:focus{
	outline: none;
}
#reset:hover,label:hover{
	cursor: pointer;
}
#reset:active{
	background:linear-gradient(to bottom,#FCFBFB 0%,#C4D7FC 50%,#ECEBEB 100%);
}

#forFun img{
	width: 400px;
}
.show-wrap{
	filter:alpha(opacity=0); /* IE */  
	-moz-opacity:0; /* 老版Mozilla */  
    -khtml-opacity:0; /* 老版Safari */  
    opacity: 0; /* 支持opacity的浏览器*/  
	height: 50px;
}
.show{
	animation: fadeInOut 2s linear; 
	-webkit-animation: fadeInOut 2s linear;/* Safari 和 Chrome */
	-moz-animation: fadeInOut 2s linear;/* Firefox */
	-o-animation: fadeInOut 2s linear;/* Opera */
}
.showMobile{
	filter:alpha(opacity=1); /* IE */  
	-moz-opacity:1; /* 老版Mozilla */  
    -khtml-opacity:1; /* 老版Safari */  
    opacity: 1; /* 支持opacity的浏览器*/  
}
#show{
	text-align: center;
	line-height: 30px;
	background: #C5C5C5;
	border-radius: 10px;
}
.shack{
	animation: shackMe 0.4s linear;
	-webkit-animation:shackMe 0.4s linear;/* Safari 和 Chrome */
	-moz-animation: shackMe 0.4s linear;/* Firefox */
	-o-animation: shackMe 0.4s linear;/* Opera */
}
@keyframes charge{
	0%{
		width: 0px;
		background-color:#F80F27;
	}	
	100%{
		width: 19px;
		background-color:#05FF05;
	}

}
@-moz-keyframes charge{
	0%{
		width: 0px;
		background-color:#F80F27;
	}	
	100%{
		width: 19px;
		background-color:#05FF05;
	}

}
@-webkit-keyframes charge{
	0%{
		width: 0px;
		background-color:#F80F27;
	}	
	100%{
		width: 19px;
		background-color:#05FF05;
	}

}
@-o-keyframes charge{
	0%{
		width: 0px;
		background-color:#F80F27;
	}	
	100%{
		width: 19px;
		background-color:#05FF05;
	}

}

@keyframes fadeInOut {
0% {opacity: 0;} /*初始状态 透明度为0*/
20% {opacity: 1;} /*中间状态 透明度为1*/
70% {opacity: 1;} /*中间状态 透明度为1*/
100% {opacity: 0;}/*结尾状态 透明度为0*/	
}
@-moz-keyframes fadeInOut {
0% {opacity: 0;} /*初始状态 透明度为0*/
20% {opacity: 1;} /*中间状态 透明度为1*/
70% {opacity: 1;} /*中间状态 透明度为1*/
100% {opacity: 0;}/*结尾状态 透明度为0*/	
}
@-webkit-keyframes fadeInOut {
0% {opacity: 0;} /*初始状态 透明度为0*/
20% {opacity: 1;} /*中间状态 透明度为1*/
70% {opacity: 1;} /*中间状态 透明度为1*/
100% {opacity: 0;}/*结尾状态 透明度为0*/	
}
@-o-keyframes fadeInOut {
0% {opacity: 0;} /*初始状态 透明度为0*/
20% {opacity: 1;} /*中间状态 透明度为1*/
70% {opacity: 1;} /*中间状态 透明度为1*/
100% {opacity: 0;}/*结尾状态 透明度为0*/	
}

@keyframes shackMe{
0% {transform: translateX(5px);}
25% {transform: translateX(-5px);} /*初始状态*/
75% {transform: translateX(5px);} /*中间状态*/
100% {transform: translateX(-5px);}/*结尾状态*/	
}
@-moz-keyframes shackMe{
0% {transform: translateX(5px);}
25% {transform: translateX(-5px);} /*初始状态*/
75% {transform: translateX(5px);} /*中间状态*/
100% {transform: translateX(-5px);}/*结尾状态*/	
}
@-webkit-keyframes shackMe{
0% {transform: translateX(5px);}
25% {transform: translateX(-5px);} /*初始状态*/
75% {transform: translateX(5px);} /*中间状态*/
100% {transform: translateX(-5px);}/*结尾状态*/	
}
@-o-keyframes shackMe{
0% {transform: translateX(5px);}
25% {transform: translateX(-5px);} /*初始状态*/
75% {transform: translateX(5px);} /*中间状态*/
100% {transform: translateX(-5px);}/*结尾状态*/	
}


