*{
	padding: 0;
	margin:0; 
	font-family:  "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
p{
	color: white;
}
#info{
	width: 80%;
	/*height: 1300px;*/
	margin: 0 auto;
	background-color: #D9D9D4;
	/*overflow: hidden;*/
	display: flex;

}
#simpleinfo{
	flex: 7;
	float: left;
	/*width: 35%;*/
	background-color: rgb(55,164,220);
}
#details{
	flex: 13;
	float: right;
	/*width: 65%;*/

}
#photo{
	width: 100%;
	margin-bottom: -130px;
	border-right: 1px solid #C7C7C7;
}

h1{
	text-align: center;
	color: #FFFFFF;
	font-weight: 900;
	font-family:  "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-size: 50px;
} 
h2{
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 40px;

}
.sim-body-box{
	height: 150px;
}
.sim-body{
	position: relative;
	vertical-align:middle;   
}
.sim-body div{
	height: 100px;
	width: 60%;
	position: absolute;
	left:40%;
	top: 40px;
	border-bottom: 1.5px solid rgb(28,136,200);
}
.title{
	font-size: 20px;
	margin-bottom: 6px;
}
#skill-box{
	height:300px;
}
#skill-box div{
	height:300px;
}
#skill-box div div{
	top: 10%;
	height: 90%;
	border-bottom:  none; 
}
input{
	background: #3071a9;
}

footer{
	width: 95%;
	height: 60px;
	margin: 0 auto;
	background-color: #FFF;
}
a{
	text-decoration: none;
	line-height: 60px;
	display: block;
	text-align:center;
	color: #37A4DC;
	font-weight: 700;
}
footer a::before{
	content: "[GitHub]";
}
.detail-box{
	width: 95%;
	/*height: 60px;*/
	margin: 20px auto;
	background-color: #FAFAFA;
	overflow: hidden;

}
.detail-box p,dd,dt{
	color: #727272;
}
dt{
	font-size: 30px;
}
dd{
	/*position: relative;*/
}
ul{
	height: 60px;
	padding-left: 80px;
}
ul li{
	list-style-type: none;
	float: left;

}
ul li img{
	width: 60px;
	height:60px;
	margin:0 15px;
}


