<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>360</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>
<body>
<header>
    <h3>皮皮虾精选 MHZ</h3>
</header>
<div class="container-disc">
    <div class="container-canvas">
        <canvas class="round-bar"></canvas>
    </div>
    <div class="container-cover"></div>
    <div class="triangle"></div>
    <audio class="music" src="1.mp3" controls="controls" preload="auto" autoplay hidden ></audio>
    <div class="title"><span></span></div>
</div>

<div class="main-wrap">
    <div id="back">
        <div class='bullet-content'></div>
    </div>
    <div class="bullet-bar">
        <input type="text" name="bullet-input" class="bullet-input">
        <button class="bullet-send">发送</button>
    </div>
</div>

</body>
<script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</html>