*{
	padding: 0;
	margin:0; 
	font-family:  "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
p{
	color: white;
}
html{
	font-size: 1vw;
	min-width: 550px;
}
#info{
	width: 80%;
	/*height: 1300px;*/
	margin: 0 auto;
	background-color: #D9D9D4;
	/*overflow: hidden;*/
	display: flex;

}
#simpleinfo{
	flex: 7;
	float: left;
	/*width: 35%;*/
	background-color: rgb(55,164,220);
}
#details{
	flex: 13;
	float: right;
	/*width: 65%;*/

}
#photo{
	width: 100%;
	
	/*margin-bottom: -12em;*/
	border-right: 1px solid #C7C7C7;
}
#sim-head{
	position: relative;
}
h1{
	text-align: center;
	display: inline-block;
	width: 100%;
	color: #FFFFFF;
	font-weight: 900;
	font-family:  "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-size: 5rem;
	position: absolute;
	bottom: 4rem;
	left: 0;
	/*line-height: 5em;*/
} 
h2{
	color: #FFFFFF;
	text-align: center;
	display: inline-block;
	width: 100%;
	/*margin-bottom: 0.5em;*/
	font-size: 3rem;
	position: absolute;
	bottom: 1rem;
	left: 0;

}
h6{
	font-size: 2rem;
	margin: 0 0 20px 0 ;

}
.sim-body-box{
	height: 150px;
}
.sim-body{
	position: relative;
	/*display: table;*/
	vertical-align:middle;   
}
.sim-body img{
	width: 30%;
	/*display: table-cell;*/
	/*padding: 28px 0;*/
}
.sim-body div{
	padding: 50px 0;
	/*display: table-cell;*/
	/*height: 150px;*/
	width: 60%;
	position: absolute;
	left:40%;
	top: 0;
	border-bottom: 1.5px solid rgb(28,136,200);
}
.title{
	font-size: 2rem;
	margin-bottom: 6px;
}
#skill-box{
	height:300px;
}
#skill-box div{
	height:300px;
}
#skill-box div div{
	top: 10%;
	height: 90%;
	border-bottom:  none; 
}
input{
	width: 60%;
	background: #3071a9;
}

footer{
	
	height: 60px;
	/*margin: 0 auto;*/
	background-color: #FFF;
}
a{
	text-decoration: none;
	line-height: 60px;
	display: block;
	text-align:center;
	color: #37A4DC;
	font-weight: 700;
}
footer a::before{
	content: "[GitHub]";
}
.detail-box{
	/*width: 95%;*/
	/*height: 60px;*/
	margin: 30px 30px;
	background-color: #FAFAFA;
	position: relative;
	overflow: hidden;
	border-top: 1px solid #C7C7C7;
	border-right: 3px solid #C7C7C7;
	border-bottom: 3px solid #C7C7C7;
	border-left: 1px solid #C7C7C7;

}
.detail-box p,dd,dt{
	color: #727272;
}
.detail-box p{
	margin:10px 40px 10px 0; 
}
dt{
	font-size: 2.5rem;
	position: absolute;
	left: 80px;
	top: 43px;
}
dd{
	/*margin-left: 80px;*/
	margin: 0px 0 40px 80px;
	/*position: relative;*/
}
ul{
	height: 60px;
	/*padding-left: 80px;*/
}
ul li{
	list-style-type: none;
	float: left;

}
ul li img{
	width: 60px;
	height:60px;
	margin:0 45px 20px 0;
}
time{
	color: #37A4DC;
	font-weight: 900;
}



